/* Kontainer slider */
.slider-container,
.slider-container-big {
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-container {
    height: 25vh;
    max-height: 300px;
}

.slider-container-big {
    height: 90vh;
    max-height: 600px;
}


/* Slider */
.slider {
    display: flex;
    /*transition: transform 0.5s ease-in-out;*/
    transition: -webkit-transform 0.5s ease-in-out, transform 0.5s ease-in-out;
    height: 100%; /* Tinggi slider sesuai dengan kontainer */
}

/* Slide */
.slide {
    position: relative; /* Berikan konteks posisi untuk teks overlay */
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Gambar dalam slide */
.slide img {
    width: 100%; /* Penuhi lebar kontainer */
    height: 100%; /* Penuhi tinggi kontainer */
    object-fit: cover; /* Pangkas gambar secara proporsional agar sesuai kontainer */
}

/* Overlay teks */
.text-overlay {
    position: absolute; /* Posisi absolut untuk overlay */
    bottom: 10px; /* Posisikan di dekat bagian bawah slide, sedikit lebih ke atas */
    left: 15px; /* Posisikan sedikit lebih ke dalam dari sisi kiri untuk memberikan ruang */
    z-index: 2; /* Pastikan overlay berada di atas gambar */
    color: #f0f0f0; /* Warna teks putih */
    text-align: left; /* Teks rata kiri */
    padding: 8px; /* Ruang lebih besar di dalam overlay untuk meningkatkan keterbacaan */
    background: rgba(0, 0, 0, 0.4); /* Overlay dengan transparansi lebih ringan */
    border-radius: 5px; /* Sudut lebih halus pada latar belakang */
    font-size: 1em; /* Ukuran teks ditingkatkan untuk visibilitas lebih baik */
    max-width: 60%; /* Batas lebar teks agar tetap di dalam slide */
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7); /* Memberikan bayangan untuk meningkatkan kontras */
}


/* Navigasi dots */
.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.dot {
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #fff;
}

.dot:hover {
    background: rgba(255, 255, 255, 0.8); /* Memberikan indikasi interaksi */
    transform: scale(1.2); /* Efek zoom ringan */
}


@media (max-width: 600px) {
    .text-overlay {
        font-size: 0.8em; /* Ukuran teks lebih kecil */
        max-width: 80%; /* Lebar teks lebih fleksibel */
    }

    .dot {
        width: 10px;
        height: 10px;
    }
}
